@media screen and (min-width: 1500px) {
  
  body {
    width: auto;
  }
  
  #main {
    width: 85vw;
    min-height: 90vh;
    border-radius: 20px;
  }
  
  nav {
    box-shadow: 1px 1px 1px #0000ca;
	 position: sticky;
  }

  nav ul li a {
    font-size: 45px;
    width:13vw;
	padding: 1vh 2vw 1vh 1vw;
  }
  
  h1 {
	  font-size: 48px;
  }


  nav ul li {
     left: 6%;
  }

  #content {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .text {
    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 28px
  } 

}

@media screen and (min-width: 2000px) {
	
	nav ul li a {
    font-size: 50px;
	padding: 2vh 2vw 2vh 2vw;
  }
  
  h1{
	  font-size: 60px;
  }
	
	.text {
    font-size: 38px;
  }  
  
}