.general_input, .long_input {
    width: 100%;
    padding: 1%;
    border: 1px solid grey;
    border-radius: .5em;
    box-sizing: border-box;
    margin-top: .5%;
    margin-bottom: 3%;
    resize: vertical;
}

button[type=submit] {
    background-color: #009688;
    color: black;
    padding: 12px 20px;
    border: solid grey .05em;
    border-radius: .5em;
    transition-duration: .2s;
	width:100%;
	background: rgba(54, 54, 54, .4);
}

button[type=submit]:hover {
    background-color: #009688;
	color: white;
	box-shadow:.1vw .1vh .05em #009688;
	border: 1px solid rgba(255, 255, 255, .4);
	opacity: 1;
}
span {
	font-weight: bold;
}

form {
	padding: 3%;
}

option {
	color: #009688;
}

#content {
	margin: 1% 10% 1% 10%;
}






